---
---

@charset "utf-8";
@import "normalize";
@import "typography";
@import "icons";

body {
  min-width: 320px;
  min-height: 100vh;
  line-height: 1.0;
  word-wrap: break-word;
  overflow-x: hidden;

  &::before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    pointer-events: none;
    transform: scale(1);
    background-image: linear-gradient(to top, rgba(3, 169, 244, .50), rgba(158, 158, 158, 0.50)), url(/img/bg-img.jpg);
    background-position: 0% 0%, top left;
    background-repeat: repeat, repeat;
    background-size: auto, cover;
    background-attachment: scroll;
  }
}

.wrapper {
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  z-index: 2;
}

.content {
  padding: 3.5rem 2rem;
  font-family: 'Source Sans Pro';
  text-align: right;
  text-transform: uppercase;
}

.link {
  display: inline-block;
  margin: 0 0 0 .5rem;
  opacity: 0.8;

  &:hover {
    opacity: 1;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;

  }
}
