@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300');

h1 {
  color: white;
  letter-spacing: 0.25rem;
  width: calc(100% + 0.25rem);
  font-size: 2.625em;
  font-weight: 200;
}

p {
  color: rgba(255, 255, 255, 0.65);
  letter-spacing: 0.125rem;
  width: calc(100% + 0.125rem);
  font-size: 1.125em;
  line-height: 1.675;
  font-weight: 300;
}
